@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'clash-display';
  src: url('./fonts/clash-display.ttf') format('truetype');
  font-weight: 1 1000;
  font-stretch: 1 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: url('./fonts/montserrat.ttf') format('truetype');
  font-weight: 1 1000;
  font-stretch: 1 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'unica-one';
  src: url('./fonts/unica-one.ttf') format('truetype');
  font-weight: 1 1000;
  font-stretch: 1 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('./fonts/inter.ttf') format('truetype');
  font-weight: 1 1000;
  font-stretch: 1 1000;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-gray: #bdbbc3;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #d434fe;
  --color-background: #150e28;
  --color-scrollbar-background: #d634fe26;
  --color-scrollbar-thumb-background: var(--color-primary);
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-weight: medium;
  box-sizing: border-box;
  font-family: 'montserrat';
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--color-white);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'clash-display';
}

#layout,
#navigation {
  transition: opacity 0.5s ease;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-scrollbar-background);
}

::-webkit-scrollbar-thumb {
  height: 64px;
  border-radius: 100vh;
  background-clip: padding-box;
  background-color: var(--color-scrollbar-thumb-background);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes fade-in {
  to {
    opacity: 0.5;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 0.5;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
